@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="http://inthe7heaven.com/impressive/separate/css/style.css" rel="stylesheet">
   
    <link href="http://inthe7heaven.com/impressive/separate/css/carousel.css" rel="stylesheet">
    <link href="http://inthe7heaven.com/impressive/separate/css/carousel-style.css" rel="stylesheet">
    <link href="http://inthe7heaven.com/impressive/separate/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://inthe7heaven.com/impressive/separate/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css" rel="stylesheet" type="text/css">
    <link href="~/Content/css(1)" rel="stylesheet" type="text/css">
    <link href="~/Content/css(2)" rel="stylesheet" type="text/css">
    <link href="~/Content/css(3)" rel="stylesheet" type="text/css">
    <link href="~/Content/css(4)" rel="stylesheet" type="text/css">


</head>
<body>
    
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="brand"><a href="index.html"><span class="red">I</span>mpressive</a></div>
                    <div class="test">
                        <button type="button" class="btn btn-navbar black" data-toggle="collapse" data-target="#nav">
                            <span class="ButWrap">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </span>
                            <span data-value="current-nav" class="CurrentPage">Home</span>
                        </button>
                        <ul class="Socials">
                            <li><a href="#" class="tweet"><span></span></a></li>
                            <li><a href="#" class="facebook"><span></span></a></li>
                            <li><a href="#" class="pint"><span></span></a></li>
                        </ul>
                    </div>
                    <div class="nav-collapse collapse customMenu" id="nav">
                        <div id="wrapper" style="overflow: hidden;">
                            <div id="scroller" style="-webkit-transition: -webkit-transform 0ms; transition: -webkit-transform 0ms; -webkit-transform-origin: 0px 0px; -webkit-transform: translate(0px, 0px) translateZ(0px);">
                                <ul class="nav pull-right TopMenu">
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li><a href="about.html" class="aLink">About</a></li>
                                    <li><a href="portfolio.html" class="aLink">Portfolio</a></li>
                                    <li><a href="blog.html" class="aLink">Blog</a></li>
                                    <li><a href="contacts.html" class="aLink">Contact</a></li>
                                    <li><a href="features.html" class="aLink">Features</a></li>
                                    <li class="pageclick">
                                        <a href="#">Pages</a>
                                        <ul class="DropMenu">
                                            <li><a href="full_width_4column_blog.html" class="aLink">Full Width 4 Column Blog</a></li>
                                            <li><a href="full_width_3column_blog.html" class="aLink">Full Width 3 Column Blog</a></li>
                                            <li><a href="blog_with_right_sidebar.html" class="aLink">Blog With Right Sidebar</a></li>
                                            <li><a href="blog.html" class="aLink">Blog With Left Sidebar</a></li>
                                            <li class="pageclick">
                                                <a href="#">Single Blog Posts<span class="plus">+</span></a>
                                                <ul>
                                                    <li><a href="blog-single.html" class="aLink">Image Post</a></li>
                                                    <li><a href="image_slideshow_post.html" class="aLink">Image Slideshow Post</a></li>
                                                    <li><a href="youtube-post.html" class="aLink">Youtube Post</a></li>
                                                    <li><a href="vimeo-post.html" class="aLink">Vimeo Post</a></li>
                                                    <li><a href="html5-player.html" class="aLink">HTML5 Video Post</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="portfoliov2.html" class="aLink">Portfolio version 2</a></li>
                                            <li><a href="project-page.html" class="aLink">Project Page</a></li>
                                            <li><a href="page_with_right_sidebar.html" class="aLink">Page With Right Sidebar</a></li>
                                            <li><a href="page_with_left_sidebar.html" class="aLink">Page With Left Sidebar</a></li>
                                            <li><a href="404.html" class="aLink">404 Page</a></li>
                                            <li><a href="sitemap.html" class="aLink">Sitemap</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="http://themeforest.net/item/impressive-interior-responsive-html5-template/4823070?ref=mad_velikorodnov" class="aLink Buy">Buy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="wrap">
            <div id="index">

                <div class="slideWrap">
                    <div class="m-carousel m-fluid m-carousel-photos">
                        <div class="m-carousel-inner" style="-webkit-transform: translate3d(0px, 0px, 0px);">
                            <div class="m-item m-active">
                                <img src="Side/Content/images/pic47.jpg" alt="">
                            </div>
                            <div class="m-item">
                                <img src="Side/Content/images/pic48.jpg" alt="">
                            </div>
                            <div class="m-item">
                                <img src="side/Content/images/pic49.jpg" alt="">
                            </div>
                            <div class="m-item">
                                <img src="side/Content/images/pic50.jpg" alt="">
                            </div>
                            <div class="m-item">
                                <img src="side/Content/images/pic51.jpg" alt="">
                            </div>

                        </div>
                        <div class="m-carousel-controls m-carousel-bulleted">
                            <a class="m-active" href="#" data-slide="1">1</a>
                            <a class="" href="#" data-slide="2">2</a>
                            <a class="" href="#" data-slide="3">3</a>
                            <a class="" href="#" data-slide="4">4</a>
                            <a class="" href="#" data-slide="5">5</a>
                        </div>
                        <div class="m-carousel-controls m-carousel-hud">
                            <a class="m-carousel-prev" href="#" data-slide="prev" style="top: 267px;">Previous</a>
                            <a class="m-carousel-next" href="#" data-slide="next" style="top: 267px;">Next</a>
                        </div>
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="container-fluid UnderSlide">
                        <div class="container">
                            <div class="span12"><div class="title">From Our Blog</div></div>
                        </div>
                    </div>
                    <div class="container-fluid FromBlog">
                        <div class="container">
                            <div class="span3">
                                <div class="BlogArticle">
                                    <div class="ImgWrap"><span class="date">JAN<br><span>28</span></span><img src="side/content/images/01.jpg" alt=""></div>
                                    <div class="WhiteTone">
                                        <a href="./blog-single.html"><span class="title">Vestibulum Libero</span></a>
                                        <p class="comments">
                                            <span class="muted">by</span> <a href="#" class="name">Admin  /</a>  <span class="muted">with</span> <a href="#" class="comments">
                                                <span class="count">0</span>
                                                comment
                                            </a>
                                        </p><p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="BlogArticle">
                                    <div class="ImgWrap"><span class="date">JAN<br><span>23</span></span><img src="side/content/images/02.jpg" alt=""></div>
                                    <div class="WhiteTone">
                                        <a href="./blog-single.html"><span class="title">Voluptas Sit Aspernatur</span></a>
                                        <p class="comments">
                                            <span class="muted">by</span> <a href="#" class="name">Admin  /</a>  <span class="muted">with</span> <a href="#" class="comments">
                                                <span class="count">5</span>
                                                comment
                                            </a>
                                        </p><p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="BlogArticle">
                                    <div class="ImgWrap"><span class="date">JAN<br><span>19</span></span><img src="side/content/images/03.jpg" alt=""></div>
                                    <div class="WhiteTone">
                                        <a href="./blog-single.html"><span class="title">Donec Porta Diam</span></a>
                                        <p class="comments">
                                            <span class="muted">by</span> <a href="#" class="name">Admin  /</a>  <span class="muted">with</span>  <a href="#" class="comments">
                                                <span class="count">9</span>
                                                comment
                                            </a>
                                        </p><p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="BlogArticle">
                                    <div class="ImgWrap"><span class="date">JAN<br><span>12</span></span><img src="side/content/images/04.jpg" alt=""></div>
                                    <div class="WhiteTone">
                                        <a href="./blog-single.html"><span class="title">Proin Dictum Element</span></a>
                                        <p class="comments">
                                            <span class="muted">by</span> <a href="#" class="name">Admin  /</a>  <span class="muted">with</span> <a href="#" class="comments">
                                                <span class="count">15</span>
                                                comment
                                            </a>
                                        </p><p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--WRAP END-->
        <!--FOOTER BEGIN-->
        <div id="footer">
            <div class="container"><div class="copyright">© Copyright 2013 Impressive. All rights reserved.</div></div>
        </div>
        <!--FOOTER END-->
        <!--ANOTHER SCRIPT-->
       
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*

    
    
    <script src="js/jquery.iosslider.js"></script>*@
    <script src="~/Scripts/jquery.scrollTo.js"></script>
    <script src="~/Scripts/jquery.nav.js"></script>
    <script src="~/Scripts/sorting.js"></script>
    <script src="~/Scripts/jquery.hcsticky-min.js"></script>
    <script src="~/Scripts/jquery.iosslider.js"></script>

    @*<script src="~/Scripts/forms.js"></script>*@
    <script src="~/Scripts/scrolling.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/iscroll.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        //$(function () {
        //    $("#accordion").accordion({
        //        collapsible: true
        //    });
        //});
        //]]>
    </script>
    <script type="text/javascript">
        //<![CDATA[
        var myScroll;
        function loaded() {
            myScroll = new iScroll('wrapper');
        }
        document.addEventListener('DOMContentLoaded', function () { setTimeout(loaded, 1000); }, false);
        //]]>
    </script>
    <script src="~/Scripts/carousel.js"></script>
    <script>$('.m-carousel').carousel();</script>
    <script>
        //<![CDATA[
        $(document).ready(function () {
            $('#nav').onePageNav({
                begin: function () {
                    //console.log('start');
                },
                end: function () {
                    //
                },
                scrollOffset: 0
            });
            //$(window).load(function () {
            //    $('#contact-form').forms({
            //        ownerEmail: 'ex_the_one@rambler.ru'
            //    })
            //});

            $('#myCollapsible').collapse({
                toggle: true
            })
        });
        //]]>
    </script>
    <script type="text/javascript" src="~/Scripts/retina.js"></script>

</body>
</html>
















